<%=image_tag 'branch.png',   style:'width:100%'%> 
<div style="width: 100%; text-align: center; background: #e72113;">
<a href="http://massage-hy.com.tw/index.php" style="letter-spacing: 0.3em; background: #e72113; font-size: 6em; margin: 0 auto; width: 100%; color: #ffffff; text-decoration: none;">
官方網站
</a>
</div>
<!-- Google &A??%N? -->
<!--------------------------------------------------
&A??%N?$#1oIO?$H(-%w+H.',[??!A$]$#1o)q8m&bIO1S7P??,[?*:JI?$W!C&3?&p&s?8m%N?*:??+H.')M?)z!A???!Ghttp://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 957839649;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957839649/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>