<%=image_tag 'branch.png',   style:'width:100%'%> 
<div style="width: 100%; text-align: center; background: #e72113;">
<a href="http://massage-hy.com.tw/index.php" style="letter-spacing: 0.3em; background: #e72113; font-size: 6em; margin: 0 auto; width: 100%; color: #ffffff; text-decoration: none;">
官方網站
</a>
</div>
