<a href="http://massage-hy.com.tw/portal_d3.php?owner_num=d3_164186&button_num=d3" style="z-index: 999; position: absolute; right: 0; top: 200px; 
																						  color: #ffffff; text-decoration: none;" id="upperLink5">
<%=image_tag 'branch_icon.png',   style:'width: 110px;', class: ''%> 
</a>
<div style="display: -webkit-flex; 
			-webkit-align-items: center; 
			display: flex; 
			align-items: center;
			background: #171715">
<div style="width: 1280px; margin: 0 auto;">				
<a href="http://massage-hy.com.tw/" style="position: absolute; 
										   margin-left: 30px;
    									   top: 79px; z-index: 1">
<div style="width: 150px; background: none; height: 30px;"></div>
</a>	
<a href="http://massage-hy.com.tw/portal_d3.php?owner_num=d3_164186&button_num=d3" style="position: absolute; 
										   margin-left: 30px;
    									   top: 109px; z-index: 1">
<div style="width: 150px; background: none; height: 30px;"></div>
</a>
<iframe style="position: absolute; top: 320px; margin-left: 100px; border: 1px solid #6b5431; z-index: 1" width="240" height="140" src="https://www.youtube.com/embed/ZWonggeVxe4?autoplay=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe> 				

<%=image_tag 'safari.jpg',   style: 'width:1280px; position: absolute; top: 0; '%> 
</div>
</div>
<script>
    $.fn.scrollStopped = function(callback) {
        var $this = $(this), self = this;
        $this.scroll(function(){
            if ($this.data('scrollTimeout')) {
              clearTimeout($this.data('scrollTimeout'));
            }
            $this.data('scrollTimeout', setTimeout(callback,250,self));
        });
    };

$(window).scrollStopped(function(){
   $('#upperLink5').animate({top: $(window).scrollTop() + 200}, 600);
});	
</script>
<style>
body{
	background: #171715;	
}
</style>
