<div>
<iframe style="margin: auto 0;" width="560" height="315" src="//www.youtube.com/embed/kcMn_hPWEIg?rel=0" 
frameborder="0" allowfullscreen></iframe>
</div>
<%=image_tag 'mobile_content.jpg',   style:'width:100%'%> 
