<a href="/main/branch" style="z-index: 999; position: fixed; right: 0; top: 100px; 
							  background: #db1f18; font-size: 6em; padding: 0.2em;
							  width: 1.5em; color: #ffffff; text-decoration: none;" id="mobileClick3">
門市資料
</a>
<%=image_tag 'mobile_1.jpg',   style:'width:100%'%> 
<div>
<iframe style="margin: auto 0; width: 100%" height="900" src="https://www.youtube.com/embed/ZWonggeVxe4?autoplay=1" 
frameborder="0" allowfullscreen></iframe>
</div>
<%=image_tag 'mobile_2.jpg',   style:'width:100%'%> 
<div style="width: 80%; margin: 20px auto;">
	<a id="mobileClick1" href="http://massage-hy.com.tw/portal_d3.php?owner_num=d3_164186&button_num=d3"><%=image_tag 'seventh_search.png', style:'width: 100%', class: 'seventh_search'%></a>      		 	    		
</div>
<a id="mobileClick2" href="http://massage-hy.com.tw"><%=image_tag 'enter.jpg', style:'width: 100%', class: 'seventh_search'%></a>      		 	    		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44235140-5', 'auto');
  ga('send', 'pageview');

$( "#mobileClick1" ).click(function() {
	$.ajax({
	  method: "GET",
	  url: "/main/mobile_click",
	  data: { location: 1}
	})
});
$( "#mobileClick2" ).click(function() {
	$.ajax({
	  method: "GET",
	  url: "/main/mobile_click",
	  data: { location: 2}
	})
});
$( "#mobileClick3" ).click(function() {
	$.ajax({
	  method: "GET",
	  url: "/main/mobile_click",
	  data: { location: 3}
	})
});
</script>
